:root {
    --main-color: #6B13D7;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 500px;
    height: 315px;
    overflow: hidden;
}

.headerbox {
    background-color: white;
    height: 64px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.left-header {
    display: flex;
    margin-right: 20px;
}
.hburger-box{
    padding-left: 20px;
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: var(--main-color);
    margin: 6px 0;
    transition: 0.3s;
}
.change .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -9px) rotate(45deg);
}



.logo {
    max-width: 50px;
    height: auto;
    margin-left: auto;
    margin-right: 20px;

}


.form {
    border: 2px solid;
    background-color: #EDEDED;
    border-color: var(--main-color);
    box-sizing: border-box;
    height: 500px;
    width: 450px;
}


.title {
  color: black;
  font-family: sans-serif;
  font-size: 24px;
  margin-left: 20px;
}

.input-full{
    display:flex;
    margin-top: 25px; 
    justify-content: center;
    align-items: center;
    gap: 20px;


}
.input-container {
  border: 2px solid #555;
  height: 50px;
  position: relative;
  width: 45%;
  display: flex;
  align-items: center;

}


.input-container input {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 18px;
}

.input-container img {
  padding: 10px;
  width: 20px;
  cursor: pointer;
}

.ic1 {

}
.ic2 {
    
}



.input {

  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: black;
  font-size: 20px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 50%;
}

.cut {
  background-color: white;
  opacity:0;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 100px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
  opacity:1;
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: var(--main-color);
}

.button {
    background-color: var(--main-color);
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 15px;
    outline: 0;
    text-align: center;
    width: 45%;
}

    .button:hover {
        background-color: #160249;
    }

.output-container {
  background-color: #303245;
  border-radius: 12px;
  height: 50px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.output-container input {
  width: 100%;
  padding: 4px 20px 0;
  border: 0;
  outline: 0;
  font-size: 24px;
}
.copy{
  font-size: 14px;
  color: #dc2f55;
  font-family: sans-serif;
}

.version{
  bottom: 0;
  left: 0;
  padding: 10px;
  color: #303245;
  font-size: 10px;
  font-family: sans-serif;
}